*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
#check{
    display: none;

}
.main_box{
    background-image: url("photo.jpg");
    background-size: cover;
    height: 100vh;
}
.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    transition-timing-function: linear;
    transition-duration: 0.3s;
}
.btn_one i{
    cursor: pointer;

}
.sidebar_menu{
    position: fixed;
    left: -350px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition-timing-function: linear;
    transition-duration: 0.2s;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    height: 60px; 
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);

}
.sidebar_menu .logo a{
    position: absolute;
    left: 30px;
    text-decoration:  none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    
}
.sidebar_menu .btn_two{
    color: grey;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 260px;
    transition-timing-function: linear;
    transition-duration: 0.3s;
}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 10px 20px;
    

}
.sidebar_menu .menu i, a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i {
    margin-right: 10px;
}

.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 50px;
}
.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    margin: 0 5px;

}



/* Active Thing */



.sidebar_menu .menu li:hover {
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.btn_one:hover{
    font-size: 40px;

}
.btn_two:hover{
    font-size: 40px;
}
#check:checked ~ .sidebar_menu{
    left: 0;

}
#check:checked ~ .btn_one{
    visibility: hidden;
    
}


.social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}